#content-contato {
  max-width: 100vw;
}

#content-contato .section-contato {
  width: 90%;
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1rem;
}

#content-contato .section-contato .title-page {
  font: 700 2.2rem Poppins;
  line-height: 2.4rem;
  color: var(--color-primary);
  margin: 2rem 0;
  text-align: center;
}

#content-contato .section-contato .infos p {
  text-align: center;
}

#content-contato .section-contato .infos .social-contato {
  width: 50%;
  margin: 0 auto;
}

#content-contato .section-contato .social-contato .sociais-list-contato {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 1.4rem 0;
}

.sociais-list-contato i {
  font-size: 1.8rem;
  color: var(--color-primary);
  transition: color 0.4s ease;
}

.sociais-list-contato i:hover {
  color: var(--color-secondary);
}

#content-contato .section-contato form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 2rem 0;
}

#content-contato .section-contato form h4 {
  font: 400 1.2rem Poppins;
  line-height: 2.4rem;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

#content-contato .section-contato form .input-block {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#content-contato .section-contato form .input-block + .input-block {
  margin-top: 1rem;
}

#content-contato .section-contato form .input-block label {
  font: 400 1rem Poppins;
  line-height: 2.4rem;
  color: var(--color-secondary);
}

.input-block label {
  font-size: 1rem;
}

#content-contato .section-contato form .input-block input {
  width: 100%;
  height: 2.8rem;
  margin-top: 0.1rem;
  border-radius: 0.4rem;

  background: var(--color-white);
  border: 1px solid var(--color-primary);

  outline: 0;
  padding: 1rem;

  font: 1rem Poppins;

  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -webkit-appearance: none;
}

#content-contato .section-contato form .input-block textarea {
  width: 100%;
  min-height: 8rem;
  margin-top: 0.8rem;
  border-radius: 0.4rem;

  background: var(--color-white);
  border: 1px solid var(--color-primary);

  resize: vertical;
  outline: 0;
  padding: 1rem;

  font: 1.2rem Poppins;

  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -webkit-appearance: none;
}

#content-contato .section-contato form button[type="submit"] {
  width: 100%;
  height: 3.4rem;
  margin-top: 1rem;
  padding: 1rem;

  border-radius: 0.4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--color-secondary);

  font: 400 1rem Poppins;
  line-height: 2.4rem;
  color: var(--color-white);
}

@media (min-width: 1024px) {
  #content-contato .section-contato {
    width: 80%;

    margin: 0 auto;
    flex-direction: row;
  }

  #content-contato .section-contato .infos .title-page {
    text-align: left;
  }

  #content-contato .section-contato .infos p {
    text-align: left;
  }
}

@media (min-width: 700px) {
  #content-contato .section-contato {
    width: 80%;

    margin: 0 auto;
  }
}
