:root {
  --color-primary: #d4a68e;
  --color-secondary: #1e1e1e;
  --color-secondary-dark: #0d0d0d;
  --color-secondary-hover: #8c6e64;
  --color-background: #fff;
  --color-text-in-background: #aaaaaa;
  --color-line-in-background: #f2c094;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html,
body {
  height: 100vh;
  font-family: Poppins;
}

ul,
ol,
li {
  list-style: none;
}

.wrapper header nav #menu .menu-item#active a {
  color: var(--color-secondary-hover);
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
}
::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  background: #1e1e1e;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #292929;
}
::-webkit-scrollbar-thumb:active {
  background: #1e1e1e;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
