.wrapper {
  width: 100vw;
  height: 100vh;
}

.wrapper main {
  width: 100vw;
  overflow: hidden;
}

.wrapper main .projects {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  padding: 0;
}

.wrapper main .projects li {
  padding: 0;
  margin: 0;
}

.wrapper main .projects img {
  width: 100%;
  height: 100%;
}

@media (min-width: 700px) {
  .wrapper main .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .wrapper main .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
