.hamburguer {
  position: absolute;
  right: 2rem;

  z-index: 4;
}

.hamburguer div {
  width: 20px;
  height: 2px;
  background: var(--color-secondary);
  margin: 5px;
  cursor: pointer;

  transition: background-color 0.4s;
}

.hamburguer div:hover {
  background: var(--color-secondary-dark);
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  background-color: var(--color-primary);
}

header nav #menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: var(--color-primary);

  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  display: none;
  transition: transform 0.5s ease-in;

  overflow: hidden;
  z-index: 4;
}

header nav .nav-active {
  transform: translateX(0%) !important;
  display: flex !important;
}

header nav #menu .menu-item {
  margin-bottom: 2rem;
}

header nav #menu .menu-item a {
  text-decoration: none;
  font: 600 1.2rem Poppins;

  color: var(--color-secondary);
  line-height: 2.4rem;
  text-transform: uppercase;
}

header nav #menu .sociais {
  width: 100%;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  position: fixed;
  padding: 5%;

  border-top: 1px solid var(--color-line-in-background);
}

header nav #menu .sociais .sociais-list {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

header nav .sociais .sociais-list i {
  color: var(--color-secondary);
  font-size: 1.4rem;
}

@keyframes menu-item-fade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -6px);
}
